<main>
  <p class="title">
    <span class="cyan-color">Viewspeed<span class="v2">v2</span></span> Sensitivity Calculator
  </p>
  <div class="inputs">
    <div class="input-box">
      <p class="label">Base Sens</p>
      <input (keyup)="calculate()" type="number" [formControl]="baseSensControl" />
    </div>

    <div class="input-box">
      <p class="label">Base FOV</p>
      <input
        (keyup)="calculate()"
        type="number"
        [formControl]="baseFovControl"
      />
    </div>

    <div class="input-box">
      <p class="label">New FOV</p>
      <input
        (keyup)="calculate()"
        type="number"
        [formControl]="newFovControl"
      />
    </div>

    <div
      [ngClass]="newSens ? 'cursor-pointer' : ''"
      (click)="copy(newSens)"
      class="input-box"
    >
      <p class="label">New Sens</p>
      <p class="plum-color">{{ newSens }}</p>
    </div>
  </div>
</main>
